<%=  react_component("Nav", userSignedIn: user_signed_in?) %>


<div class="wrap">

<div class="container">
  <% if current_user.id %>
  <% @critic = true %>
  <% end %>
  <%= react_component('Movie', criticID: current_user.id , movie: @movie_json, critic: @critic) %>
</div>

</div>
