/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */

#svg {
  width: 100%;
  height: 700px;
  background: red;
}

#reel {
  fill: rgba(0, 0, 0, 0.8);
   animation:spin 4s linear infinite;
}

#square {
  fill: green;
  width: 100px;
  heigth: 100px;
  z-index: -6;
  animation: spin 4s linear infinite;
}

#beardman {
  width: 300px;
}

.container {
  text-align: center;
}

.container h2 {
  font-size: 42px;
}

.field {
  font-size: 25px;
  line-height: 200%;
  border-radius: 15%;
}

.field select {
   background: black;
   color: white;
   width: 268px;
   padding: 5px;
   font-size: 16px;
   line-height: 1;
   border-radius: 0%;
   height: 34px;
   -webkit-appearance: none;
}

.actions input[type="submit"] {
  background-color: white;
  border: none;
  font-size: 20px;
  font-weight: bold;
}

.actions input[type="submit"]:hover {
  color:red;
  font-size: 30px;
}

.log-in-back a {
  color:#333;
  font-size: 20px;
}

.log-in-back a:hover {
  text-decoration: none;
  color: red;
  font-size: 30px;
}

#nav-button {
  display: inline-block;
  padding: 8.5px;
}

#nav-button Button {
  text-decoration: none;
}

#nav-button Button:focus {
  outline: 0;
}

.movie-list h1 {
  padding-left: 37px;
  padding-bottom: 30px;
  font-size: 42px;
  text-decoration: underline;
}

.movie-list li {
  list-style-type: none;
  display: inline-block;
  height: 405px;
  width: 25%;
  line-height:200%;
}

.movie-desc a {
  color: #333;
  font-size: 25px;
}

.movie-desc a:hover {
  color: gray;
  text-decoration: none;
}

.movie-desc img {
  width: 175px;
  height: 220px;
  border: 2px solid black;
}

.movie-desc img:hover {
  border: 3px solid red;
  border-radius: 5%;
}

#vote p {
  padding-top: 10px;
  margin-bottom: 0;
}

.vote-buttons {
  display: inline-block;
}

.vote-buttons input {
  background-color: white;
  border: none;
  font-size: 20px;
  font-weight: bold;
}

.vote-buttons input[type="submit"]:hover {
  color: red;
}

.vote-buttons input[type="submit"]:focus {
  outline: 0;
}

.desc-toggle input {
  background-color: white;
  border: none;
}

.desc-toggle input[type="submit"]:hover {
  color:red;
  font-size: 20px;
}

.desc-toggle input[type="submit"]:focus {
  outline: 0;
}
